/* ------基础部分------ */
view,text,button,input,textarea,image{box-sizing:border-box;padding:0;}
textarea{background:#fff;width:100%;padding:15px;font-size:14px;min-height:200px;}
span{font-size:14px;}
page{background:#f3f5f7;width:100%;height:100%;}
.flex{flex: 1 1;}
.flex-row-center{display:flex;flex-direction:row;justify-content:center;align-items:center;}
.flex-row-between{display:flex;flex-direction:row;justify-content:space-between;align-items:center;}
.flex-row-around{display:flex;flex-direction:row;justify-content:space-around;align-items:center;}
.flex-column-center{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.flex-column-between{display:flex;flex-direction:column;justify-content:space-between;align-items:center;}
.flex-column-around{display:flex;flex-direction:column;justify-content:space-around;align-items:center;}
.full{width:100%;height:100%;}
.w100{width:100%!important;}
.h100{height:100%;}
.mgtop0{margin-top:0!important;}
.mgtop10{margin-top:10px!important;}
.mgtop20{margin-top:20px!important;}
.mgtop30{margin-top:30px!important;}
.mgbt0{margin-bottom:0px!important;}
.mgbt5{margin-bottom:5px!important;}
.mgbt10{margin-bottom:10px!important;}
.mgrt10{margin-right:10px!important;}
.pdbt0{padding-bottom:0px!important;}
.pd15{padding:15px;}
.font14{font-size:14px!important;}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.dis-none{display:none;}
.block{display:block;width:100%;height:100%;}.
.inline{display:inline;}
.inline-block{display:inline-block;}
.pos-rel{position:relative;}
.overflow-s{overflow:auto;}
.overflow-h{overflow:hidden;}
.nowrap{white-space:nowrap;}
.bor0{border-width:0;}
.icon{width:10px;height:10px;}
.p10{font-size:10px;}
.p12{font-size:12px;}
.p14{font-size:14px;}
.p15{font-size:15px;}
.red{color:#ec5151!important;}
.orange{color:#ff824b!important;}
.green{color:#45c654!important;}
.blue{color:#29a1f7!important;}
.bg-gray{background-color:#f3f5f7;}
.bg-fff{background-color:#fff;}
::-webkit-scrollbar{width:0;height: 0;color:transparent;}
button[plain]{border-width: 0;}
input::-webkit-input-placeholder {color:#cbd4db;font-size:12px;}
/*------样式部分------ */
.border-top{border-top:1px solid #e4e9f0;}
.border-bottom{border-bottom:1px solid #e4e9f0;}
.placeholder{color:#cbd4db;}
.mybutton-box{background:#fff;position:fixed;bottom:0;left:0;right:0;padding:5px 15px;}
.mybutton-sp{font-size:14px;color:#848a99;border:1px solid #29a1f7;background:#eef7fd;border-radius:100px;padding:8px 15px;display:inline-block;}
.mybutton-rect{font-size:12px;color:#909ba3;background:#eef7fd;border-radius:2px;padding:4px 9px;margin:0 10px 10px 0;display:inline-block;}
.loading-text{font-size:14px;color:#909ba3;display:block;text-align:center;padding:20px 0;}
.hide-1px{position:relative;top:-1px;}
/* ------组件化部分------ */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.container-width-header{
  padding-top:44px;
}
.search-box-container{
  padding:15px;
}
.search-box{
  border:1px solid #d7dee2;
  border-radius:100px;
  padding:10px 20px;
  font-size:14px;
  width:100%;
  z-index:1;
  background:#fff;
}
.search-box-txt{
  line-height:20px;
  margin-right:10px;
  position:relative;
}
.search-box-input{
  margin-left:20px;
}
.myline-text{
    font-size:15px;
    color:#909ba3;
    text-align:right;
    margin-right:12px;
    border-width:0;
}
.salary{white-space:nowrap;}
.title-box{padding: 0;margin-bottom:30px;text-align:center;}
.title{position:relative;top:-14px;background: #fff;padding:0 10px;font-size:19px;}
.tip-box{width:100%;margin-top:30px;font-size:14px;}
.tip{border:1px solid #d7dee2;padding:10px 22px;margin-right:15px;border-radius:100px;display:inline-block;margin-top:15px;}
.active{background:#29a1f7;color:#fff;border:1px solid #29a1f7;}
.button-container-bottom{padding:10px 15px;width:100%;background:#fff;}
.button-container-normal{margin:25px 15px;}
.button-container-normal button{width:100%;}
.full-page-flex{display:flex;flex-direction:column;justify-content:space-between;align-items:center;padding-bottom:75px;background:#f3f5f7;}
.full-page-flex>div{width:100%;}
.blank{height:75px;width:100%;}
.fix-bottom{position:fixed;bottom:0;left:0;right:0;z-index:1;}
.delete-button{text-align:center;border-radius:6px;line-height:45px;font-size:15px;background:transparent;color:#909ba3;}
.normal-text{color:#909ba3;font-size:14px;}
.normal-input-container{padding:10px 0;}
.normal-input{color:#546373;font-size:14px;}
.indentify{color:#fff;font-size:14px;width:52px;height:14px;margin-top:9px;background:url("http://nhh-image.oss-cn-shanghai.aliyuncs.com/mini-app/images/indentify.png") no-repeat center/100%;}
.indentify-no{color:#fff;font-size:14px;width:52px;height:14px;background:url("http://nhh-image.oss-cn-shanghai.aliyuncs.com/mini-app/images/indentify-no.png") no-repeat center/100%;}
.expend{height:30px;width:100%;background:url("http://nhh-image.oss-cn-shanghai.aliyuncs.com/mini-app/images/arrow-bottom.png") no-repeat center/12px;}
.address-disc{padding:20px 0;color:#546373;}
/* .address-disc{padding:20px 0;background:url("http://nhh-image.oss-cn-shanghai.aliyuncs.com/mini-app/images/arrow-right.png") no-repeat right center/12px;color:#546373;} */
/* 格子 */
.middle{width:100%;padding:18px 0;margin-bottom:10px;background:#fff;}
.middle-title-box{padding:0 15px;background:#fff;}
.middle-title{position:relative;font-size:16px;background:#fff;padding:10px 0;width:100%;display:block;color:#32405e;}
.middle-title:after{content:'';display:block;position:absolute;left:-15px;top:14px;width:2px;height:15px;background:#29a1f7;}
.middle-sp{width:100%;padding:0px;margin-bottom:10px;background:#fff;}
.middle-sp .state{padding:18px 0;}
.middle-for-info{width:100%;padding:20px 0px 25px;margin-bottom:10px;background:#fff;position:relative;}
.state{flex:1 1;}
.state-num{color:#546373;font-size:17px;}
.state-disc{color:#909ba3;font-size:12px;margin-top:10px;}
.grid view:nth-last-child(n+2){border-right:1px solid #e4e9f0;}
/* 很多信息页面部分 */
.big-card{padding:0 15px;background-color:#fff;margin-bottom:10px;}
.info-normal{margin-top:10px;color:#546376;font-size:14px;}
.info-normal-data{color:#909ba3;margin-left:5px;}
.edit{position:absolute;top:0px;right:0px;width:20px;height:20px;background:url("http://nhh-image.oss-cn-shanghai.aliyuncs.com/mini-app/images/edit.png") no-repeat center/15px;}
.middle-for-card{padding:15px 0 25px 15px;background:#fff;position:relative;}
.middle-for-card:after{content:'';display:block;position:absolute;left:0px;top:25px;width:1px;bottom:28px;background:#e9eef5;}
.middle-for-card .card-item:nth-child(n+2){margin-top:30px;}
.card-item{position:relative;}
.card-item:before{content:'';display:block;position:absolute;left:-17px;top:8px;width:6px;height:6px;background:#29a1f7;z-index:1;}
.card-item:nth-child(n+2):before{background:#e9eef5;}
.card-top{font-size:15px;}
.card-top text:nth-child(n+2),.card-bottom text:nth-child(n+2){margin-left:20px;position:relative;}
.card-top text:nth-child(n+2):before,.card-bottom text:nth-child(n+2):before{content:'';display:block;position:absolute;left:-10px;top:4px;width:1px;bottom:2px;background:#e9eef5;}
.card-middle{color:#c7ced3;font-size:11px;margin-top:5px;}
.card-bottom{margin-top:5px;color:#909ba3;font-size:14px;}
.card-add{border-top:1px solid #e4e9f0;padding:15px;}
.card-add text{margin-left:5px;color:#848a99;font-size:15px;}
.title-nobg{font-size:14px;padding:10px 15px;display:block;}
.title-item{color:#909ba3;line-height:1.4;}
.title-item:nth-child(n+2){margin-left:20px;}
.indentify,.indentify-no{margin-top:5px;}
/* 红包title */
.orange-tip{padding:15px;color:#ff824b;background:#fff7e1;transition:all 0.2s;}
.tip-left{width:12px;margin-right:5px;}
.tip-right{width:12px;margin-left:5px;}



/* ----覆盖vantUI---- */
.van-button--primary{background-color:#29a1f7!important;border: 1px solid #29a1f7!important;}
.van-button--disabled{color:#fff!important;opacity:0.3;}
.van-list{width:100%;}
.myshadowbg{background:rgba(0,0,0,0.3);}
.my-van-pop{background:rgba(0,0,0,0)!important;}